header{
    display: inline;
}

header h1{
    text-align: center;
    font-size: 50px;
}

header nav{
    position: sticky;
    top: 0;
}

header nav ul{
    background-color: lightgreen;
    padding: 20px;
}

header nav li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

header li a{
    text-decoration: none;
    color: black;
    
}

header li a:hover{
    color: lightskyblue;
}

header li a:visited{
    color: lightcoral;
}

main article{
    padding: 0 15px 15px 15px;
    background-color: lightgray;
    box-shadow: 8px 8px rgb(104, 95, 95);
}

main article p{
    font-size: 18px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

main article h3{
    font-size: 28px;

}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
    
  }



